

#button4 {
	text-transform: uppercase;
}

h1 {
	text-align: center;
	font-size: 50px;
}

img {
	
	display: inline-block;
	justify-content: center;
	padding: 3px;
}

.container {
  position: relative;
  width: 50%;
}
.overlay {
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #008CBA;
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#siblings {
	width: 340px;
	height: 220px;

}

#babyfacial {
	width: 340px;
	height: 220px;
}

#mashedpotatoes {
	width: 340px;
	height: 220px;
}

#flavorice {
	width: 340px;
	height: 220px;
}

#peonies {
	width: 340px;
	height: 220px;
}

#spaghetti {
	width: 340px;
	height: 220px;
}

#michaelscott {
	width: 340px;
	height: 220px;
}

#icecream {
	width: 340px;
	height: 220px;
}

#rihanna {
	width: 340px;
	height: 220px;
}

#beignets {
	width: 340px;
	height: 220px;
}

#bulldog {
	width: 340px;
	height: 220px;
}

#beach {
	width: 340px;
	height: 220px;
}





