

#button4 {
	text-transform: uppercase;
}

h1 {
	text-align: center;
	font-size: 50px;
}

img {
	border-width: 100px;
	border-color: #ffccff;
	display: inline-block;
	justify-content: center;
	padding: 3px;
}

#siblings {
	width: 340px;
	height: 220px;

}

#babyfacial {
	width: 340px;
	height: 220px;
}

#mashedpotatoes {
	width: 340px;
	height: 220px;
}

#flavorice {
	width: 340px;
	height: 220px;
}

#peonies {
	width: 340px;
	height: 220px;
}

#spaghetti {
	width: 340px;
	height: 220px;
}

#michaelscott {
	width: 340px;
	height: 220px;
}

#icecream {
	width: 340px;
	height: 220px;
}

#rihanna {
	width: 340px;
	height: 220px;
}

#beignets {
	width: 340px;
	height: 220px;
}

#bulldog {
	width: 340px;
	height: 220px;
}

#beach {
	width: 340px;
	height: 220px;
}








