<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	<link rel="stylesheet" type="text/css" href="../CSS/about.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">
</head>
<body>
	<!-- <div class="flex-container"> -->
		<a href="../index.html" class="button" id="button1">welcome!</a>
		<a href="about.html" class="button" id="button2">about</a> <!-- how do I made these buttons link to their respective pages??? -->
		<a href="thingsivedone.html" class="button" id="button3">things I've done</a>
		<a href="thingsilove.html" class="button" id="button4">things I love</a>
	
	<!-- </div> -->
	
	<h1>about</h1>
	<p>Hi! I made this website for my midterm project in class. I've never made a website before, and I have no idea what 'content' to fill this page with so I thought I'd just give you some random tidbits about my life.</p>
	<ul>
		<li>I grew up in NYC</li>
		<li>I have 5 siblings</li>
		<li>I don't like anything that flies (birds, butterflies, bees, you name it)</li>
		<li>I find the Real Housewives franchise wildly entertaining</li>
		<li>I habitually watch The Office over and over and over again (but I don't watch the episodes after Michael leaves because they make me sad)</li>
		<li>I don't read nearly as often as I probably should, but my favorite book is Little Bee by Chris Cleave</li>
		<li>My favorite cuisine is probably Italian (I am carb obsessed) but Japanese or Thai food are close second favorites.</li>
		<li>I am an absolute freak about organizing my apartment. The Container Store is one of my happiest places... organizing just makes me feel like I have my life together, even though I definitely do not.</li>
	</ul>
</body>
</html>