<!DOCTYPE html>
<html>
<head>
	<title>things I love!</title>
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	<link rel="stylesheet" type="text/css" href="../CSS/thingsilove.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">
</head>
<body>
		<a href="../index.html" class="button" id="button1">welcome!</a>
		<a href="about.html" class="button" id="button2">about</a> 
		<a href="thingsilove.html" class="button" id="button3">things I love</a>
	
	<h1>things I love!</h1>

	<div class="container">
		<img src="../media/siblings.jpg" id="siblings">
		<div class="overlay">
			<div class="text">My siblings</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/babyfacial.jpg" id="babyfacial">
		<div class="overlay">
			<div class="text">Face masks</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/mashedpotatoes.jpg" id="mashedpotatoes">
		<div class="overlay">
			<div class="text">Mashed potatoes</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/flavorice.jpg" id="flavorice">
		<div class="overlay">
			<div class="text">Ice pops</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/peonies.jpg" id="peonies">
		<div class="overlay">
			<div class="text">Peonies</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/spaghetti.jpg" id="spaghetti">
		<div class="overlay">
			<div class="text">Spaghetti</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/michaelscott.jpg" id="michaelscott">
		<div class="overlay">
			<div class="text">Michael Scott</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/icecream.jpg" id="icecream">
		<div class="overlay">
			<div class="text">Ice cream</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/rihanna.jpg" id="rihanna">
		<div class="overlay">
			<div class="text">Rihanna</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/beignets.jpg" id="beignets">
		<div class="overlay">
			<div class="text">Beignets</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/bulldog.jpg" id="bulldog">
		<div class="overlay">
			<div class="text">Dogs (especially bulldogs)</div>
		</div>
	</div>

	<div class="container">
		<img src="../media/beach.jpg" id="beach">
		<div class="overlay">
			<div class="text">The beach</div>
		</div>
	</div>

</body>
</html>
<!-- //<div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div> -->














