<!DOCTYPE html>
<html>
<head>
	<title>things I've done</title>
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	<link rel="stylesheet" type="text/css" href="../CSS/thingsivedone.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">
</head>
<body>
	<div class="flex-container">

		<a href="../index.html" class="button" id="button1">welcome!</a>
		<a href="about.html" class="button" id="button2">about</a> <!-- how do I made these buttons link to their respective pages??? -->
		<a href="thingsivedone.html" class="button" id="button3">things I've done</a>
		<a href="thingsilove.html" class="button" id="button4">things I love</a>

	</div>
	<h1>a collection of things i've done</h1>

	<div class="experiences">
		<li>I once went cliff jumping in Bermuda. It was a really dumb thing to do because I don't like heights, but I did it because I wanted to prove to everyone that I could. Of course when I landed in the water, I split my lip and got a concussion :/ </li>
		<li>I traveled to Thailand in fall 2016</li>
		<li></li>
	</div>

</body>
</html>