<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	<link rel="stylesheet" type="text/css" href="../CSS/thingsilove.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">
</head>
<body>
	<!-- <div class="flex-container"> -->

		<a href="../index.html" class="button" id="button1">welcome!</a>
		<a href="about.html" class="button" id="button2">about</a> <!-- how do I made these buttons link to their respective pages??? -->
		<a href="thingsivedone.html" class="button" id="button3">things I've done</a>
		<a href="thingsilove.html" class="button" id="button4">things I love</a>
	
	<!-- </div> -->
	<h1>things I love!</h1>

	<img src="../media/siblings.jpg" id="siblings">
	<img src="../media/babyfacial.jpg" id="babyfacial">
	<img src="../media/mashedpotatoes.jpg" id="mashedpotatoes">
	<img src="../media/flavorice.jpg" id="flavorice">
	<img src="../media/peonies.jpg" id="peonies">
	<img src="../media/spaghetti.jpg" id="spaghetti">
	<img src="../media/michaelscott.jpg" id="michaelscott">
	<img src="../media/icecream.jpg" id="icecream">
	<img src="../media/rihanna.jpg" id="rihanna">
	<img src="../media/beignets.jpg" id="beignets">
	<img src="../media/bulldog.jpg" id="bulldog">
	<img src="../media/beach.jpg" id="beach">
	
</body>
</html>