<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	<link rel="stylesheet" type="text/css" href="../CSS/thingsilove.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins" rel="stylesheet">
</head>
<body>
	<div class="flex-container">

		<button class="button" id="button1">about</button>  <!-- how do I made these buttons link to their respective pages??? -->
		<button class="button" id="button2">things I've done</button>
		<button class="button" id="button3">things I love</button>
		<button class="button" id="button4">get in touch</button>
	
	</div>
	<h1>things I love!</h1>
	
</body>
</html>